/* Add font imports from public directory */
@font-face {
  font-family: 'SpaceX';
  src: url('/fonts/SpaceX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SpaceX';
  src: url('/fonts/SpaceX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SpaceX", sans-serif;
  letter-spacing: 0.025em;
}

h1, h2, h3, h4, h5, h6, .font-bold {
  font-family: "SpaceX", sans-serif;
  font-weight: bold;
  letter-spacing: 0.05em;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  background: #f9fafb;
}

::-webkit-scrollbar-track {
  background: #f3f4f6;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #a4a4a4;
  border-radius: 8px;
}

/* Hero background */
.hero {
  background: linear-gradient(to right, rgba(0,0,0,0.85),rgba(0,0,0,0.05)),url("./assets/bg1.jpg");
  -webkit-background-size: cover;
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  background-size: cover;
}

